<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Wellness</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/player">Jugadores</a>
        </li>
      </ul>
      <div class="d-flex">
        <a
          *ngIf="!userLoginOn"
          class="btn btn-outline-success"
          routerLink="/login"
          >Iniciar Sesión</a
        >
        <a
          *ngIf="userLoginOn"
          class="btn btn-outline-danger"
          (click)="logout()"
          routerLink="/inicio"
          >Cerrar Sesión</a
        >
      </div>
    </div>
  </div>
</nav>
