<div class="container my-3">
  <div class="row text-center">
    <h3>Registro</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8 col-12">
      <form [formGroup]="registerForm">
        <p class="text-danger">{{ registerError }}</p>
        <div class="mb-3">
          <label for="username" class="form-label">Nombre</label>
          <input
            formControlName="username"
            type="text"
            class="form-control"
            id="username"
          />
          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="text-danger"
          >
            <div *ngIf="username.errors?.['required']">
              El nombre es requerido.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Apellidos</label>
          <input
            formControlName="lastname"
            type="text"
            class="form-control"
            id="lastname"
          />
          <div
            *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
            class="text-danger"
          >
            <div *ngIf="lastname.errors?.['required']">
              El apellido es requerido.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-danger"
          >
            <div *ngIf="email.errors?.['required']">El Email es requerido.</div>
            <div *ngIf="email.errors?.['email']">
              El Email debe tener un formato válido.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger"
          >
            <div *ngIf="password.errors?.['required']">
              El Password es requerido.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Repita el Password</label
          >
          <input
            formControlName="confirmPassword"
            type="password"
            class="form-control"
            id="confirmPassword"
          />
          <div
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            class="text-danger"
          >
            <div *ngIf="confirmPassword.errors?.['required']">
              Repita su password.
            </div>
            <div
            *ngIf="confirmPassword.errors?.['matching']"
            >
              Password y repetir password deben coincidir.
            </div>
          </div>
        </div>
        <div class="container text-center">
          <button
            type="submit"
            (click)="register()"
            class="btn btn-primary mx-3"
          >
            Crear Usuario
          </button>
          <a routerLink="/login" class="btn btn-secondary mx-3">Acceder</a>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="register">
  <form class="custom-form" method="post">
    <h1>Registro</h1>
    <input
      type="text"
      [(ngModel)]="username"
      name="username"
      placeholder="Nombre"
      required="required"
    />
    <input
      type="text"
      [(ngModel)]="lastname"
      name="lastname"
      placeholder="Apellidos"
      required="required"
    />
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="confirmPassword"
      name="password"
      placeholder="Repeat the password"
      required="required"
    />
    <button type="submit" (click)="register()">Register</button>
  </form>
</div> -->
